$accent: #f4cf2c;
$title-color: #ffffff;
$heading-of-parargraph-color: #c5c5c5;
$main-text-color: #7f7f7f;
$secondary-text-color: #999999;
$every-first-bg-color: #232323;
$background-color: #202020;
$bezier: cubic-bezier(0.4, 0, 0.2, 1);