.hero {
  position: relative;
  max-width: 1600px;
  background: url('../../asset/images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-color: $background-color;

  padding-top: 50px;

  @media screen and (min-width: 480px) {
     background-position: center;
    height: 400px;
  }
  @media screen and (min-width: 1140px) {
     background-position: center;
    padding-top: 50px;
    height: 600px;
  }
}

.logo--hero{
  margin-bottom: 25px;
  @media screen and (min-width: 1140px) {
    margin-top: 30px;
    margin-bottom: 60px;
  }
}

.logo--hero img{
  width: 300px;
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 1140px) {
    width: 650px;
  }
}

.hero__title {
  font-family: Roboto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-top: 5px;
  margin-bottom: 60px;
  color: #ffffff;
  z-index: 3;

  @media screen and (min-width: 1140px) {
    font-size: 44px;
  }
}

.hero__button {
  @include button;
  width: 200px;
  padding: 10px 22px;
  letter-spacing: 0.03em;
}
