.disciplines {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 1024px) {
    max-width: 396px;
  }
  @media screen and (min-width: 1024px) {
    width: 976px;
  }
}

.disciplines__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 50px;
  padding: 8px;
  @media screen and (min-width: 1024px) {
    margin-right: auto;

    flex-direction: row-reverse;
    align-items: center;
    width: 586px;
    &:nth-child(2n) {
      .disciplines__description {
        text-align: left;
      }
      margin-right: 0;
      margin-left: auto;
      flex-direction: row;
    }
  }
}

.disciplines__img {
  border-radius: 50%;
}

.disciplines__description {
  margin: 0 20px;
  text-align: center;

  @media screen and (min-width: 1024px) {
    width: 400px;
    text-align: right;
  }
}

.disciplines__title {
  margin-top: 15px;
}
