.lureTextParagrtaph {
    display: block;
    width: 80vw;

    font-size: 18px;
    color: white;
}

.lure--accent {
    color: $accent;
    font-size: 18px;

}

.lure__item{
  position: relative;
    font-family: Ysabeau SC;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  color: white;

  margin-left: 38px;
  &::before{
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: -30px;
    width: 20px;
    height: 20px;
    background-image: url('../../asset/rocket.png');
    background-size: contain;
  }
}