@import './sass/variables';
@import './sass/mixins';
@import './sass/basedecoration';
@import './components/Hero/hero';
@import './components/Header/header';
@import './components/LureTextSection/lureTextSection';
@import './components/GoogleMap/iframe';
@import './components/GoogleForm/googleForm';
@import './components/Reviews/reviews';
@import './components/views/CursesView/curses';
@import './components/Footer/footer';
@import './components/Modal/modal';