header {
  position: relative;
  min-width: 480px;
  width: 100vw;
  height: 60px;
  margin-right: auto;
  margin-left: auto;
  background-color: $background-color;
}

.container--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 23px;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1140px) {
    width: 1140px;
  }
}

.navigation {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: $background-color;
  @media screen and (min-width: 0) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    width: 600px;
  }
  @media screen and (min-width: 1140px) {
    width: 100%;
    & li {
      width: 100%;
      margin-left: auto;
    }
  }
}

.nav-button {
  margin-right: 0;
  margin-left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;

  & svg {
    width: 40px;
    height: 40px;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.nav-button .cross-nav {
  display: none;
}

.nav-button.is-open .menu-nav {
  display: none;
}

.nav-button.is-open .cross-nav {
  display: block;
}

.header__list {
  margin: 0;
  height: 100%;
  display: flex;
}

.list__item {
  height: 100%;
  // align-items: center;
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.header__link {
  position: relative;
  display: flex;
  align-items: center;

  height: 100%;
  
  color: $secondary-text-color;
  transition: color 250ms $bezier;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  &:hover,
  &:hover {
    color: $accent;
    fill: $accent;
  }
  
}

.current::after {
    position: absolute;
    bottom: 0;
    content: ' ';
    display: block;
    width: 105%;
    height: 5px;
    background-color: $accent;
    border-radius: 15px;
  }

.nav__icon {
  height: 20px;
  margin-right: 10px;
  transition: fill 250ms $bezier;
}

header .logo {
  @include logo;
  margin-right: 93px;
  color: #fff;
}

.logo-img {
  img {
    padding-top: 15px;
    width: 150px;
    height: auto;
  }
  margin-right: 50px;
  
}
