.curses__list{
    margin-top: 40px;
}

.curses__item{
    position: relative;
    max-width: 300px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;

    background: url('../../../asset/images/blurred-gold.jpg');
    background-size: cover;
    -webkit-background-size: cover;

    border: 1px solid $accent;
    border-radius: 8px;
    
    box-shadow: 0px 12px 30px -11px rgba(231,166,26,0.64);
    & h3{
        font-size: 24px;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
        color: #fff;
        z-index:10;
    }
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow: hidden;
}

.privileges__list{
    list-style:disc;
    margin-left: 15px;
}

.privileges__item{
    font-size: 18px;
    line-height: 32px;
    color: #dddddd;
    &:not(:last-child){
        margin-bottom: 15px;
    }
}

.curses__price{
    color: #fff;
}

.fakeprice{
    // color: #fff;
    margin-top: 20px;
    color: red;
    text-decoration:line-through;
    text-align: center;
    font-size: 20px;
}

.realprice{
    color:#fff;
    text-align: center;
    font-size: 48px;
    line-height: 36px;
    margin-top: 20px;

    animation: glow 1s ease-in-out infinite alternate;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #be1000, 0 0 40px #be1000, 0 0 50px #be1000, 0 0 60px #be1000, 0 0 70px #be1000;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ffe476, 0 0 40px #ffe476, 0 0 50px #ffe476, 0 0 60px #ffe476, 0 0 70px #ffe476, 0 0 80px #ffe476;
  }
}

.modal__button--curses{
  @include button;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 17px;
  font-size: 14px;
  line-height: 1;
}

video{
    display: block;
    margin-left: auto;
    margin-right: auto;
}